@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');



*,*::after,*::before{
    margin:0;
    padding:0;
    outline: 0;
    box-sizing: border-box;

}
html{
    font-size: 10px;
}

body{
    font-family: 'Poppins', sans-serif;
}
.container{

    width: 90%;
    margin: 0 auto;
}
.header{
    padding: 6rem 3rem;
}
.header-left ,.header-right{
    display: inline-block;
    width: 48%;
}
.header-left > * {
    margin-bottom: 4rem;
}
.header-left-heading{
    font-size: 5rem;
    color: #575757;
    margin-top:11rem;
}
.header-left-heading-color-text{
    color: #FB8D48;
}
.header-left-small-text{
    font-size: 1.8rem;
    font-weight: 400;
    color: #838382;
    margin-bottom: 7rem;
    width: 90%;
}
.btn{
    text-decoration: none;
    color: #fff;
    background: linear-gradient(to right, #FB924A, #FD4E30);
    padding: 2rem 4rem;
    font-size: 1.4rem;
    font-weight: bold;
    border-radius: 3.2rem;
    transition: .2s all ease-in-out;
    box-shadow: -1px 4px 12px #FB924A, -1px -2px 12px #FB924A;
}
.btn:hover{
    background: linear-gradient(to right, #FD4E30,#FB924A);
    transition: .7s all ease;
}
.header-right{
    vertical-align: top;
}
.header-right-image{
    width: 55rem;
}
.about{
    background-image: url("images/7.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5rem 5rem 0 15rem;
    margin-right: 0;
    width: 100%;
}
.about-left ,.about-right{
    display: inline-block;
    width: 48%;
}
.about-left-image{
    width: 27rem;
}
.about-right{
    vertical-align: top;
}
.about-right-heading{
    font-size: 4rem;
    color: #707070;
    margin-top:7rem;
    margin-bottom: 3rem;
}
.about-right-text{
    font-size: 1.6rem;
    font-weight: 300;
    color: #575757;
    margin-bottom: 7rem;
    width: 90%;
}

.recipie-heading-head{
    font-size: 4rem;
    color: #707070;
    margin-top:7rem;
    margin-bottom: 1rem;
    text-align: center;
}
.recipie-heading-text{
    font-size: 1.6rem;
    font-weight: 300;
    color: #575757;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 4rem;
    text-align: center;
}
.recipie-heading-footer{
  
    display: flex;
    width:100%;
    padding-left: 4.5rem;
}
.recipie-heading-footer-common{
    width: 30%;
    padding: 2rem;
    margin-right: 2rem;
    border-radius: 3rem;
    box-shadow: -1px 4px 14px #8f8888c7, -1px -2px 14px #8f8888e7;
}
.recipie-heading-footer-img{
    width: 100%;
}
.recipie-heading-footer-head{
    font-size: 2.5rem;
    color: #333030;
    margin: 3rem 0;
}
.recipie-heading-footer-head:hover{
    transition: .7S ease;
    color: #4e4949;  
}
.recipie-heading-footer-text{
    font-size: 1.6rem;
    font-weight: 300;
    color: #575757;
    padding-right: 4rem;
    margin: 0 auto;
    margin-bottom: 4rem;
}
.recipie-heading-footer-text:hover{
    transition: .7S ease;
    color: #333030; 
}
.site-review{
    display: flex;
    margin: 6rem 0rem 7rem 4.5rem;
    border-radius: 3rem;
    box-shadow: -1px 4px 14px #8f8888c7, -1px -2px 14px #8f8888e7;
}
.site-review-common{
    width: 33%;
}
.site-review-heading{
    font-size: 3.5rem;
    color: #333030;
    margin: 3rem 0;
    margin-bottom: 0;
    text-align: center;
}
.site-review-heading:hover{
    transition: .7S ease;
    color: #575757;
}
.site-review-text{
    font-size: 1.4rem;
    font-weight: 100;
    color: #575757;
    margin: 0 auto;
    margin-bottom: 4rem;
    text-align: center;
}
.site-review-text:hover{
    transition: .7S ease;
    color: #333030;
}
footer{
    background-color: #0B0D17;
    padding-top: 4rem;
    padding-bottom: 8rem;
}
footer .text-align{
    text-align: center;
}
.footer-heading-text-color{
    color: #FB8D48;
}
.footer-heading-text-color:hover{
    transition: .7S ease;
    color: #5B5C5B;
}
.footer-head{
    font-size: 3rem;
    color: #5B5C5B;
    padding-bottom: 2rem;
}
.color-change:hover{
    transition: .7S ease;
    color: #FB8D48;
}
.footer-text{
    font-size: 1.3rem;
    font-weight: 400;
    color: #fff;
}
.footer-text:hover{
    transition: .7S ease;
    color: #8f8888;
}