@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');



*,*::after,*::before{
    margin:0;
    padding:0;
    outline: 0;
    box-sizing: border-box;

}
html{
    font-size: 10px;
}

body{
    font-family: 'Poppins', sans-serif;
}
.container{

    width: 90%;
    margin: 0 auto;
}
.header{
    padding: 3rem;
}
.header-left ,.header-right{
    display: inline-block;
    width: 48%;
}
.header-left > * {
    margin-bottom: 4rem;
}
.header-left-heading{
    font-size: 5rem;
    color: #575757;
}
.header-left-small-text{
    font-size: 2rem;
    font-weight: 400;
    color: #838382;
}
.header-left-button{
    text-decoration: none;
    color: #fff;
    background: linear-gradient(to right, #FB924A, #FD4E30);
    padding: 2rem 4rem;
   font-size: 1.4rem;
   font-weight: bold;
   border-radius: 3.2rem;
}
.header-right{
    vertical-align: top;
}